{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}
<header id="header" class="content">
<div >
    <button class="open-btn" onclick="toggleSidebar()">☰ </button> 
    <h1 style="margin-left: 1%;display: inline;">LMS</h1>
</div>
<hr>


<div style="margin-left: 15px;font-size: 25px;">Admin Section &nbsp;  <div style="display: inline;margin-left: 3%;" class="dropdown" onclick="toggleDropdown(this)">Admin<span class="dropdown-arrow" >▼</span>
    <ul class="dropdown-content">
        <li><a href="/logout" style="text-decoration: none;">Logout</a></li>
    </ul>
</div> </div>
</header>
<div class="form-container" id="add-div">
    <form  method="POST">
    <h4>please fill up the form to add admin records</h4>
<label for="adminid"  class="form-label">Admin ID</label>
<input type="adminid" name="adminid" id="adminid" class="form-input">
<label for="firstname" class="form-label">First Name</label>
<input type="firstname" name="firstname" id="firstname" class="form-input">
<label for="lastname" class="form-label">Last Name</label>
<input type="lastname" name="lastname" id="lastname" class="form-input">
<label for="email" class="form-label">Email</label>
<input type="email" name="email" id="email" class="form-input">
<label for="contact" class="form-label">Contact</label>
<input type="tel" name="contact" id="contact" class="form-input">
<label for="password1" class="form-label">Password</label>
<input type="password" name="password1" id="password1" class="form-input">
<label for="password2" class="form-label">Confirm Password</label>
<input type="password" name="password2" id="password2" class="form-input " style="margin-bottom: 4%;">
<button type="submit" class="buttons" style="margin-left: 42%;width: 20%;">Add Admin</button>
</form>
</div>
{% endblock %}    