{% extends "base.html" %}{% block title %}Home{% endblock %}
{% block content %}        
<header id="header" class="content">
<div >
    <button class="open-btn" onclick="toggleSidebar()">☰ </button> 
    <h1 style="margin-left: 1%;display: inline;">LMS</h1>
</div>
<hr>


<div style="margin-left: 15px;font-size: 25px;">Dashboard &nbsp;  <div style="display: inline;margin-left: 3%;" class="dropdown" onclick="toggleDropdown(this)">Admin<span class="dropdown-arrow" >▼</span>
    <ul class="dropdown-content">
        <li><a href="/logout" style="text-decoration: none;">Logout</a></li>
    </ul>
</div> </div>
</header>

<div id="card-container" >
    <div id="card" style="margin-left: 3%;"><div id="card-header">Available Leave Types</div>
    <div style="display: inline;margin-left: 10%;font-size: 35px;">{{ leave_count }}</div>
<div style="margin-left: 27%;margin-top: 5%;display: inline;font-size: 20px;"><sup>Leave Types</sup></div></div>
    <div id="card" ><div id="card-header">Registered Employees</div>
    <div style="display: inline;margin-left: 5%;font-size: 35px;">{{ employee_count }}</div>
<div style="margin-left: 13%;margin-top: 5%;display: inline;font-size: 20px;"><sup>Active Employees</sup></div></div>
    <div id="card"><div id="card-header">Available Departments</div>
    <div style="display: inline;margin-left: 1%;font-size: 35px;">{{ department_count }}</div>
<div style="margin-left: 1%;margin-top: 5%;display: inline;font-size: 20px;"><sup>Employee Departments</sup></div></div>
<div id="card" style="margin-left: 3%;margin-top: 2%;"><div id="card-header">Pending Application</div>
    <div style="display: inline;margin-left: 10%;font-size: 35px;">{{ pending_count }}</div>
<div style="margin-left: 42%;margin-top: 5%;display: inline;font-size: 20px;"><sup>Pending</sup></div></div>
    <div id="card" style="margin-top: 2%;"><div id="card-header">Declined Application</div>
    <div style="display: inline;margin-left: 10%;font-size: 35px;">{{ declined_count }}</div>
<div style="margin-left: 39%;margin-top: 5%;display: inline;font-size: 20px;"><sup>Declined</sup></div></div>
    <div id="card" style="margin-top: 2%;"><div id="card-header">Approved Application</div>
    <div style="display: inline;margin-left: 10%;font-size: 35px;">{{ approved_count }}</div>
<div style="margin-left: 36%;margin-top: 5%;display: inline;font-size: 20px;"><sup>Approved </sup></div></div>
</div>
<div id="table-div" >
    <br><br>
    <div style="margin-left: 3%;font-size: 20px;">Recent List <div style="background-color: skyblue;width: 9%;padding-bottom: 2px;"></div></div>
<table class="table">
    <tr >
    <th class="table-heading" style="border: none;">S.N</th>
    <th class="table-heading">EMPLOYEE ID</th>
    <th class="table-heading">FULLNAME</th>
    <th class="table-heading">LEAVE TYPE</th>
    <th class="table-heading">APPLIED ON</th>
    <th class="table-heading">CURRENT STATUS</th>
    <th class="table-heading" style="padding-left: 130px;"></th>
</tr>
{% for leaveapplication in leaveapplications %}
<tr><td class="table-heading">{{ leaveapplication.id }}</td>
    <td class="table-heading">{{ leaveapplication.employee.employeeid }}</td>
    <td class="table-heading">{{ leaveapplication.employee.firstname }} {{ leaveapplication.employee.lastname }}</td>
    <td class="table-heading">{{ leaveapplication.leave }}</td>
    <td class="table-heading">{{ leaveapplication.created_at.strftime('%Y-%m-%d')}}</td>
    <td class="table-heading">{{ leaveapplication.status }}</td>
    <td class="table-heading"><a href="{{ url_for('admin.leave_details', leaveapplication_id=leaveapplication.id) }}" style="color: black;text-decoration: none;">See Details</a></td></tr>
    {% endfor %}
</table>
</div>
{% endblock %}