{% extends "employeebase.html" %}{% block title %}Home{% endblock %}
{% block content %}
<header id="header" class="content">
    <div >
        <button class="open-btn" onclick="toggleSidebar()">☰ </button> 
        <h1 style="margin-left: 1%;display: inline;">LMS</h1>
    </div>
    <hr>
    
    
    <div style="margin-left: 15px;font-size: 25px;">Edit Password Section &nbsp;  <div style="display: inline;margin-left: 60%;" class="dropdown" onclick="toggleDropdown(this)">Employee<span class="dropdown-arrow" >▼</span>
        <ul class="dropdown-content" style="background-color: skyblue;">
            <li><a href="{{ url_for('user.userdetails', employee_id=employee.id) }}" style="text-decoration: none;font-size: large;">View details</a> </li>
            <i><a href="{{ url_for('user.userpasswordedit', employee_id=employee.id) }}" style="text-decoration: none;font-size: large;">Change Password</a></li>
            <li><a href="/logout" style="text-decoration: none;font-size: large;">Logout</a></li>
        </ul>
    </div> </div>
    </header>
<div class="form-container" id="add-div">
<form  method="POST">
    <h2 style="text-align: center;">Edit Password</h2>
<label for="password"  class="form-label">Password</label>
<input type="password" name="password" id="password" class="form-input" value="{{ employee.password }}">

    <input type="submit"  value="Update" class="buttons">
</form>
</div>




{% endblock %}