{% extends "employeebase.html" %}{% block title %}Home{% endblock %}
{% block content %}
<header id="header" class="content">
    <div >
        <button class="open-btn" onclick="toggleSidebar()">☰ </button> 
        <h1 style="margin-left: 1%;display: inline;">LMS</h1>
    </div>
    <hr>
    
    
    <div style="margin-left: 15px;font-size: 25px;">Employee Section &nbsp;  <div style="display: inline;margin-left: 68%;" class="dropdown" onclick="toggleDropdown(this)">Employee<span class="dropdown-arrow" >▼</span>
        <ul class="dropdown-content" style="background-color: skyblue;">
            <li><a href="{{ url_for('user.userdetails', employee_id=employee.id) }}" style="text-decoration: none;font-size: large;">View details</a> </li>
            <i><a href="{{ url_for('user.userpasswordedit', employee_id=employee.id) }}" style="text-decoration: none;font-size: large;">Change Password</a></li>
            <li><a href="/logout" style="text-decoration: none;font-size: large;">Logout</a></li>
        </ul>
    </div> </div>
    </header>
<div id="table-div" >
    <br><br>
    <div style="margin-left: 3%;font-size: 20px;">Recent List <div style="background-color: skyblue;width: 9%;padding-bottom: 2px;"></div></div>
<table class="table">
    <tr >
    <th class="table-heading" style="border: none;">S.N</th>
    <th class="table-heading">EMPLOYEE ID</th>
    <th class="table-heading">FULLNAME</th>
    <th class="table-heading">LEAVE TYPE</th>
    <th class="table-heading">APPLIED ON</th>
    <th class="table-heading">CURRENT STATUS</th>
    <th class="table-heading" style="padding-left: 130px;"></th>
</tr>
{% for leaveapplication in leaveapplications %}
<tr><td class="table-heading">{{ leaveapplication.id }}</td>
    <td class="table-heading">{{ leaveapplication.employee.employeeid }}</td>
    <td class="table-heading">{{ leaveapplication.employee.firstname }} {{ leaveapplication.employee.lastname }}</td>
    <td class="table-heading">{{ leaveapplication.leave }}</td>
    <td class="table-heading">{{ leaveapplication.created_at.strftime('%Y-%m-%d')}}</td>
    <td class="table-heading">{{ leaveapplication.status }}</td>
    <td class="table-heading3"><button onclick="deleteItem('leaveapplication', {{ leaveapplication.id }})" style="background-color: skyblue;border: none;padding: 10%;color: white;padding-left: 15%;">Delete</button></td></tr>
    {% endfor %}
        
</table>
</div>
{% endblock %}